<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.secondprojected">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Secondprojected"
        tools:targetApi="31">
        <activity
            android:name=".KullanicListeActivity"
            android:exported="false" />
        <activity
            android:name=".KaydolActivity"
            android:exported="false" />
        <activity
            android:name=".YazicilisteActivity"
            android:exported="false" />
        <activity
            android:name=".TabletListeActivity"
            android:exported="false" />
        <activity
            android:name=".TrycListeActivity"
            android:exported="false" />
        <activity
            android:name=".YzcActivity"
            android:exported="false" />
        <activity
            android:name=".PcListeActivity"
            android:exported="false" />
        <activity
            android:name=".RaporlarbutonActivity"
            android:exported="false" />
        <activity
            android:name=".GrafikActivity"
            android:exported="false" />
        <activity
            android:name=".TabletActivity"
            android:exported="false" />
        <activity
            android:name=".TarayiciActivity"
            android:exported="false" />
        <activity
            android:name=".YaziciActivity"
            android:exported="false" />
        <activity
            android:name=".PcKayitActivity"
            android:exported="false" />
        <activity
            android:name=".KullaniciActivity"
            android:exported="false" />
        <activity
            android:name=".RaporlarActivity"
            android:exported="false" />
        <activity
            android:name=".EnvKayitActivity"
            android:exported="false" />
        <activity
            android:name=".AnaSayfaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>